@charset "UTF-8";
.uploadResult{
	width:100%;
	background-color: gray;
	
	
}
.uploadResult ul{
	display:flex;
}
.uploadResult ul li{
	list-style:none;
	padding:10px;	
	align-center:center;
	text-align:center;
}
.uploadResult ul li img{
	width:100px;
	height: 100px;
}