<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <configuration>
 	<typeAliases>
 	<!-- typeAlias 설정시 .xml 생성시 resultType="org.chan.domain.BoardVO" 처럼 resultType에 간략히 Board만 적으면된다 -->
 		<typeAlias type="org.chan.domain.MemberVO" alias="member"/>
 		<typeAlias type="org.chan.domain.BoardVO" alias="Board"/>
 		
 	</typeAliases>
 </configuration>